*{
  margin: 0;
  padding: 0;
}
body {
  font-family:'Poppins',sans-serif;
}
.cabecalho{
   background-color: rgb(0, 0, 0);
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.cabecalho-imagem{
  width: 20%;

}
.cabecalho-sobre_o_jogo{
    display: inline-block;
    margin:0 16px;
    font-size: 16px;
}

.cabecalho-sobre_o_jogo{
  background-image: linear-gradient(#921313, #aec916);
  color: blueviolet;
  display: flex;
  justify-content: center;
  padding: 24px 0;


}
.cabecalho-imagem{
  width: 25%;
}